//------------------------------------
// IMPORTS
//------------------------------------

// Modules and Variables -or- Libraries
@import "./libraries/bourbon/bourbon.scss";
@import "./libraries/neat/neat.scss";

// Partials
// @import "./partials/_reset.scss";
@import "./partials/_reset.scss";
@import "./partials/typography.scss";
@import "./partials/animation.scss";



//------------------------------------
// GLOBAL: Section Styles
//------------------------------------

.main-purple-bg {
  background-color: $main-purple;
  color: white;
}

.section-VH {
  min-height: 100vh;
  // For very short browser Windows
  box-sizing: border-box;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-padding-M {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.section-padding-L {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.section-padding-XL {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.section-padding-top-M {
  padding-top: 10rem;
}

.section-padding-top-L {
  padding-top: 14rem;
}

.section-padding-bottom-L {
  padding-bottom: 14rem;
}

.section-padding-bottom-XL {
  padding-bottom: 16rem;
}

.parent-flex {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inner-flex {
  width: 100%;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}

.flex-wrap {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.bottom-center {
  position: absolute;
  bottom: 3rem;
  // Safari fix
  left: 50%;
  transform: translateX(-50%);
}



//------------------------------------
// GLOBAL: Nav
//------------------------------------
.nav-hamburger {
  display: none;
}

header {
  // Size
  width: 100%;
  height: 7.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
  // Positioning
  position: fixed;
  top: 0;
  z-index: 9999;
  // Flexbox
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: space-between;
  align-items: center;
  // Global Transitioning
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  // Nav Item: Positioning
    .mm-logo {
      // Transisiton
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    li {
      display: inline;
      padding: 1rem;
    }
    // Nav Item: Styling
    li a {
      text-decoration: none;
      color: inherit;
      padding-bottom: 1.5rem;
      border-bottom: .125rem solid rgba(255, 255, 255, 0);
      // Transisiton
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    // Nav Item: Hover Transitions
    li a:hover {
      border-bottom: .125rem solid rgba(255, 255, 255, 1.0);
      padding-bottom: .625rem;
    }
    .current-page {
      border-bottom: .125rem solid rgba(255, 255, 255, 1.0);
      padding-bottom: .625rem;
      pointer-events: none;
      cursor: default;
    }
}



//--------------------------
// GLOBAL: Nav Hover States
//--------------------------

.dark-nav:hover {
  border-bottom: .125rem solid rgba(17, 16, 47, 0.75);
  padding-bottom: .625rem;
}

// NAV CURRENT PAGE DISABLE
.dark-current-page {
  border-bottom: .125rem solid rgba(17, 16, 47, 0.75);
  padding-bottom: .625rem;
  pointer-events: none;
  cursor: default;
}

// Animation class for navigation
.shrink {
  height: 4rem;
  background-color: rgba(17, 16, 47, 0.625);
    .mm-logo {
      -webkit-transform: scale(.75); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: scale(.75); /* IE 9 */
              transform: scale(.75); /* IE 10, Fx 16+, Op 12.1+ */
    }
    li {
      font-size: 1rem;
    }
    a {
      // had to add because the work nav is 300 not 100
      font-weight: 100;
      color: rgba(255, 255, 255, 0.8)
    }
    .dark-current-page {
      border-bottom: .125rem solid rgba(255, 255, 255, 0.8);
    }
}


header.shrink:hover {
  height: 7.5rem;
  background-color: rgba(17, 16, 47, 1.0);
    .mm-logo {
      -webkit-transform: scale(1); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: scale(1); /* IE 9 */
              transform: scale(1); /* IE 10, Fx 16+, Op 12.1+ */
    }
    li {
      font-size: 1.125rem;
    }
    .dark-nav {
      border-bottom: .125rem solid rgba(255, 255, 255, 0);
      color: rgba(255, 255, 255, 0.8);
    }
    .dark-nav:hover {
      border-bottom: .125rem solid rgba(255, 255, 255, 1.0);
    }
    .dark-current-page {
      border-bottom: .125rem solid rgba(255, 255, 255, 0.8);
    }
}



//--------------------------
// GLOBAL: Btn Style
//--------------------------

.global-btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  // Not sure why this doesn't work
  // width: 400px;
  // hack to fix height problem

  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #9D9CE2;

  text-align: center;
  text-decoration: none;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.global-btn:hover {
  background-color: rgba(#9D9CE2, 1.0);
  color: white;
}

.global-btn-w {
  border-color: white;
}

.global-btn-w:hover {
  background-color: rgba(white, 1.0);
  color: $main-purple;
}



//------------------------------------
// GLOBAL: Gradient For Header
//------------------------------------

.section-p-relative{
  position: relative;
}

.hero-gradient {
  width: 100%;
  height: 3.75rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



//------------------------------------
// GLOBAL: Footer
//------------------------------------

footer {
  height: 6rem;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: rgba(#11102F, 0.0);
  box-sizing: border-box;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: space-between;
  align-items: center;

    div {
      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

      align-items: center;
      box-sizing: border-box;
      img {
        margin-right: .75rem;
      }
      a {
        text-decoration: none;
      }
      p.d-g-footer-p-l, .d-g-footer-dp-l {
        margin-right: 2rem;
      }
    }
}



//------------------------------------
// HOME PAGE: Styles
//------------------------------------

// Section: Hero
.home-hero {
  background-color: #582694;
  position: relative;
}

.hero-content {
  max-width: 46.625rem;
  margin-left: 2rem;
  margin-right: 2rem;
    h1, p {
      padding-bottom: 2rem;
    }
}

.down-arrow {
  cursor: pointer;
  width: 4.25rem;
}

// Home Page Left Sections
.section-content-home {
    max-width: 71.25rem;
    justify-content: flex-start;
      img {
        max-width: 20.1875rem;
        width: 100%;
      }
      .section-content-home-left {
        max-width: 36.625rem;
        margin-left: 7.1875rem;
        margin-right: 7.1875rem;
          h1 {
            margin-bottom: 1.5rem;
          }
          p {
            margin-bottom: 3.5rem;
          }
      }
}

.responsive-letter-small {
  display: none;
}

// Section: Work
.section-work-bg {
  background-image: url('../../img/MM-work-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-bg-gradient {
  background: radial-gradient(rgba(220, 220, 220, 1.0), rgba(180, 180, 180, 1.0));
}

.top-gradient {
  width: 100%;
  height: 7rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.0));
  position: absolute;
  top: 0;
}

.bottom-gradient {
  width: 100%;
  height: 7rem;
  background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.5));
  position: absolute;
  bottom: 0;
}

.section-work-content {
  max-width: 34.75rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;

  margin-left: 2rem;
  margin-right: 2rem;

  box-sizing: border-box;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  justify-content: center;

  background-color: #582694;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    h1 {
      margin-bottom: 2.125rem;
    }
    p {
      margin-bottom: 3.125rem;
    }
}



//------------------------------------
// LEADERSHIP PAGE: Styles
//------------------------------------

// Section: Hero
.leadership-hero {
  background-color: #FC4C48;
}

// Section: Executive
.section-content-executive {
    max-width: 71.25rem;
    justify-content: flex-start;
      .section-content-left {
        max-width: 36.625rem;
        margin-left: 5rem;
          h1 {
            margin-bottom: 1.5rem;
          }
          p {
            margin-bottom: 3.5rem;
          }
          img {
            max-width: 34.75rem;
            width: 100%;
          }
      }
}

// Section: Mentor
.section-mentor-bg {
  background-image: url('../../img/MM_class_photo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-mentor-content {
  max-width: 34.75rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;

  box-sizing: border-box;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  justify-content: center;

  background-color: #FC4C48;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    h1 {
      margin-bottom: 2.125rem;
    }
    p {
      margin-bottom: 3.125rem;
    }
}



//------------------------------------
// PROCESS PAGE: Styles
//------------------------------------

// Hide Responsive Image
.process-img-small {
  display: none;
}

// Section: Hero
.process-hero-bg {
  background-color: #F6016C;
}

// Section: Doing the Thing
.three-step-flex {
  flex-wrap: wrap;
}


.three-step-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
    h1 {
      width: 100%;
      margin-bottom: 1.875rem;
    }
    p {
      max-width: 36rem;
    }
}

.three-img-container {
  margin-bottom: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;

  align-items: flex-start;
}

.three-img-arrow-padding {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4.625rem;
  margin-bottom: 2.75rem;
}


.indiv-img-container {
  width: 12.5rem;
    img {
      width: 100%;
      margin-bottom: .75rem;
    }
    h1 {
      margin-bottom: .5rem;
    }
}

// Section: A few skills
.skills-inner-flex {
  flex-wrap: wrap;
}

.skills-header {
  max-width: 71.25rem;
  width: 100%;
  margin-bottom: 8rem;
}

.skills-flex {
  max-width: 71.25rem;
  justify-content: space-between;
  align-items: flex-start;
}

.skills-container {
  width: 33%;
  max-width: 66.25rem;

  box-sizing: border-box;
  padding-left: 3rem;
    img {
      margin-bottom: .5rem;
    }
    h1 {
      margin-bottom: 1rem;
    }
}

// Section: Design by Numbers
.inner-flex-wrap {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  justify-content: center;
    h1 {
      width: 100%;
      margin-bottom: 8rem;
    }
}

.design-num-parent {
  width: 100%;

  margin-top: 8rem;
  margin-bottom: 2rem;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}

.design-num {
  max-width: 64rem;
  width: 90%;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;

  justify-content: space-between;

    .design-num-container {
      width: 33%;
      max-width: 20rem;

      box-sizing: border-box;
      padding-left: 2rem;
      padding-right: 2rem;
        h1 {
          margin-bottom: .625rem;
        }
    }
    .design-num-container:first-child {
      margin-bottom: 10rem;
    }
}

.num-caption {
  margin-top: 6rem;
  width: 100%;
}



//------------------------------------
// ABOUT PAGE: Styles
//------------------------------------

// Section: Hero
.about-hero {
  background-color: #64B4B6;
}

.hats-flex {
  max-width: 71.25rem;
  width: 100%;

  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0rem;

  justify-content: space-around;
}

.hats-img-margin {
  margin-bottom: .75rem;
}

.indiv-img-container-favs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  align-items: flex-start;
  max-width: 23rem;
    img {
      width: 100%;
      max-width: 13rem;
      margin-bottom: .75rem;
    }
    h1 {
      width: 100%;
      margin-bottom: .5rem;
    }
}



//------------------------------------
// PROJECT PAGE
//------------------------------------

.mm-logo-hide {
  display: none;
}

.mm-logo-show {
  display: block;
}

// .flex-center-all {
//   display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
//   display: -ms-flexbox;  /* TWEENER - IE 10 */
//   display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
//   display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
//
//   justify-content: center;
//   align-items: center;
// }

.projects-parent {
  width: 100%;
  max-width: 75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 50%;
  min-width: 20rem;

  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;

  // margin-left: 1rem;
  // margin-right: 1rem;
  margin-bottom: 5.5rem;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

    img {
      width: 100%;
      margin-bottom: 1.5rem;
    }
    .d-wo-h-2-p-l {
      line-height: 1.5rem;
    }
    .d-wo-h-1-dp-l {
      margin-bottom: .75rem;
    }
}




//******************************************
//******************************************
// RESPONSIVE STYLES BELOW
//******************************************
//******************************************




//******************************************
// LAYOUT: 1024px Breakpoint
//******************************************
@media screen and (max-width: 64rem)
               {
    //------------------------------------
    // GLOBAL: Responsive Letters
    //------------------------------------
    h1.d-01-h-1-w-l {
      font-size: 36px;
    }
    img.responsive-letter {
      margin-left: 1rem;
      width: 16rem;
    }

    //------------------------------------
    // PROCESS PAGE
    //------------------------------------
    .three-img-arrow-padding {
      transform: scale(.8);
      margin-left: 1rem;
      margin-right: 1rem;
      // margin-top: 4.625rem;
      // margin-bottom: 2.75rem;
    }
}




//******************************************
// LAYOUT: 880px Breakppoint
//******************************************
@media screen and (max-width: 55rem)
               {
    //------------------------------------
    // GLOBAL: Footer
    //------------------------------------
    footer {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
        div {
          a.repsonsive-li {
            margin-right: 1rem;
          }
          .responsive-hide {
            display: none;
          }
          p.no-stealing {
            margin-right: 0;
          }
        }
    }

    //------------------------------------
    // GLOBAL: Responsive Letters
    //------------------------------------
    .section-content-home {
      .section-content-home-left {
       margin-left: 4rem;
      }
    }

    //------------------------------------
    // PROCESS PAGE
    //------------------------------------
    .indiv-img-container {
      width: 20%;
    }
    // .indiv-img-container img {
    //   transform: scale(.8);
    //     div {
    //       padding-left: .5rem;
    //       padding-right: .5rem;
    //     }
    // }
    // .indiv-img-container div {
    //   padding-left: .25rem;
    //   padding-right: .25rem;
    // }
}




//******************************************
// LAYOUT: 768px Breakppoint
//******************************************
@media screen and (max-width: 48rem)
               {
    //------------------------------------
    // GLOBAL NAV
    //------------------------------------
    // Bring in Hamburger
      .nav-hamburger {
        display: block;
        width: 3.75rem;
      }
    // revemo Nav List
      .nav-list {
        display: none;
      }

      .journey-small {
        display: block;
      }

      .journey-large {
        display: none;
      }

      header {
       height: 4rem;
       padding-left: 1rem;
       padding-right: .25rem;
       background-color: rgba(17, 16, 47, 0.1);
      }
      .mm-logo {
       -webkit-transform: scale(.75); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
           -ms-transform: scale(.75); /* IE 9 */
               transform: scale(.75); /* IE 10, Fx 16+, Op 12.1+ */
      }
      header.shrink:hover {
        height: 4rem;
        background-color: rgba(17, 16, 47, .625);
          .mm-logo {
            -webkit-transform: scale(.75); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
                -ms-transform: scale(.75); /* IE 9 */
                    transform: scale(.75); /* IE 10, Fx 16+, Op 12.1+ */
          }
      }

    //------------------------------------
    // GLBAL: Responsive Letters
    //------------------------------------
      .section-content-home-mobile {
        .section-content-home-left {
          margin-left: 2rem;
            img.responsive-letter {
              margin-left: 1.5rem;
              width: 14rem;
            }
            h1.d-01-h-1-w-l {
              font-size: 2.25rem;
            }
            p.d-02-p-body-section-p-l {
              font-size: 1rem;
            }
        }
      }

      //------------------------------------
      // GLOBAL: Footer
      //------------------------------------

      footer {
        div {
          .responsive-hide-email {
            display: none;
          }
        }
      }

      //------------------------------------
      // HOME PAGE: Responsive Home Hero
      //------------------------------------
      .hero-content {
        max-width: 30.1875rem;
      }
      .home-hero{
        p.d-01-p-body-hero-w-l {
          font-size: 1rem;
        }
      }

      //------------------------------------
      // PROCESS PAGE
      //------------------------------------
      // A few of My Skills Section
      .skills-flex {
        flex-wrap: wrap;
        justify-content: center;
      }
      .skills-container {
        width: 100%;
        padding-left: 0;

        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
          h1, ul {
            width: 100%;
            text-align: center;
          }
      }

      //Global Three Image container
      .three-img-container {
        flex-wrap: wrap;
        margin-bottom: 2rem;
          .three-img-arrow-padding {
            display: none;
          }
          .indiv-img-container{
            width: 100%;
            margin-bottom: 3.5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
              .process-img {
                display: none;
              }
              .process-img-small {
                display: block;
                max-width: 9.875rem;
              }
              div {
                width: 100%;
              }
          }
      }

      // Design by Numbers Section
      .design-num {
        flex-wrap: wrap;
        justify-content: center;
          .design-num-container {
            width: 100%;
            margin-bottom: 4rem;
          }
          .design-num-container:first-child {
            margin-bottom: 4rem;
          }
      }
      .num-caption {
        margin-top: 2rem;
      }

      //------------------------------------
      // WORK PAGE
      //------------------------------------
      .project {
        margin-bottom: 3rem;
          img {
            margin-bottom: .75rem;
          }
      }
      .section-padding-top-work {
        padding-top: 6.5rem;
      }
      .d-wo-h-1-dp-l {
        font-size: 1.125rem;
      }
      .d-wo-p-dp-l {
        font-size: 1rem;
      }
}




//******************************************
// LAYOUT: 660px Breakpoint
//******************************************
@media screen and (max-width: 41.25rem)
               {
    //------------------------------------
    // Letter Sections
    //------------------------------------
    .section-content-home-mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
        .responsive-letter {
          display: none;
        }
        .responsive-letter-small {
          width: 12.875rem;
          display: block;
          margin-bottom: 3rem;
        }
        .section-content-home-left {
          max-width: 26rem;
          margin-left: 2.5rem;
          margin-right: 2.5rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
            h1, p {
              text-align: center;
            }
        }
    }

    //------------------------------------
    // PROCESS PAGE
    //------------------------------------
    .three-step-intro {
      padding-left: 4rem;
      padding-right: 4rem;
    }
}




//******************************************
// LAYOUT: 460px Breakpoint
//******************************************
@media screen and (max-width: 28.75rem)
               {
    //------------------------------------
    // Global Nav
    //------------------------------------
    p.no-stealing {
      span {
        display: none;
      }
    }
}
