//------------------------------------
// IMPORTS
//------------------------------------

// Modules and Variables -or- Libraries
@import "./libraries/bourbon/bourbon.scss";

// Partials
@import "./partials/_reset.scss";
@import "./partials/typography.scss";
@import "./partials/animation.scss";




//------------------------------------
// GLOBAL: Section Styles
//------------------------------------
body {
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
  // Stop flickering in safari
  -webkit-font-smoothing: antialiased;
}

.main-purple-bg {
  background-color: $main-purple;
  color: white;
}

// GLOBAL: Section Padding
.section-VH {
  min-height: 100vh;
  // For very short browser Windows
  box-sizing: border-box;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-padding-M {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.section-padding-L {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.section-padding-XL {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.section-padding-top-M {
  padding-top: 10rem;
}

.section-padding-top-L {
  padding-top: 14rem;
}

.section-padding-bottom-S {
  padding-bottom: 6rem;
}
.section-padding-bottom-L {
  padding-bottom: 14rem;
}

.section-padding-bottom-XL {
  padding-bottom: 16rem;
}

.section-padding-sides {
  padding-left: 2rem;
  padding-right: 2rem;
}

.parent-flex {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inner-flex {
  width: 100%;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}

.flex-wrap {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.bottom-center {
  position: absolute;
  bottom: 3rem;
  // Safari fix
  left: 50%;
  -webkit-transform: translateX(-50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateX(-50%); /* IE 9 */
          transform: translateX(-50%);
}



//------------------------------------
// GLOBAL: Nav
//------------------------------------
.nav-hamburger {
  display: none;
}

header {
  // Size
  width: 100%;
  height: 7.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
  // Positioning
  position: fixed;
  top: 0;
  z-index: 9999;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: space-between;
  align-items: center;
  // Global Transitioning
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  // Nav Item: Positioning
    .mm-logo {
      // Transisiton
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    li {
      display: inline;
      padding: 1rem;
    }
    // Nav Item: Styling
    li a {
      text-decoration: none;
      color: inherit;
      padding-bottom: 1.5rem;
      border-bottom: 0.125rem solid rgba(255, 255, 255, 0);
      // Transisiton
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    // Nav Item: Hover Transitions
    li a:hover {
      border-bottom: 0.125rem solid rgba(255, 255, 255, 1.0);
      padding-bottom: 0.625rem;
    }
    .current-page {
      border-bottom: 0.125rem solid rgba(255, 255, 255, 1.0);
      padding-bottom: 0.625rem;
      pointer-events: none;
      cursor: default;
    }
}



//------------------------------------
// GLOBAL TEST: Sliding Hamburger
//------------------------------------
.nav-item-small {
  text-decoration: none;

  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.n-home:hover {
  color: #803BD3;
}

.n-leader:hover {
  color: #FC4C48;
}

.n-process:hover {
  color: #F6016C;
}

.n-about:hover {
  color: #64B4B6;
}

.n-work:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 22px;
  right: 22px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 7px;
  position: relative;

  background: white;
  border-radius: 0px;

  z-index: 1;

  transform-origin: 2px 0px;

  -webkit-transition:  transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.55s ease;
  -moz-transition:  transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.55s ease;
  -o-transition:  transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;

  -webkit-transform: rotate(45deg) translate(-2px, -1px); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate(45deg) translate(-2px, -1px); /* IE 9 */
          transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate(0deg) scale(0.2, 0.2); /* IE 9 */
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;

  -webkit-transform: rotate(-45deg) translate(0, -1px); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate(-45deg) translate(0, -1px); /* IE 9 */
          transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;

  background: #11102F;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translate(100%, 0); /* IE 9 */
          transform: translate(100%, 0);

  -webkit-transition:  transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
  -moz-transition:  transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
  -o-transition:  transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);

}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  display: list-item;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  -webkit-transform: scale(1.0, 1.0); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: scale(1.0, 1.0); /* IE 9 */
          transform: scale(1.0, 1.0);
  opacity: 1;
}



//--------------------------
// GLOBAL: Nav Hover States
//--------------------------
.dark-nav:hover {
  border-bottom: .125rem solid rgba(17, 16, 47, 0.75);
  padding-bottom: .625rem;
}

// NAV CURRENT PAGE DISABLE
.dark-current-page {
  border-bottom: .125rem solid rgba(17, 16, 47, 0.75);
  padding-bottom: .625rem;
  pointer-events: none;
  cursor: default;
}

// Animation class for navigation
.shrink {
  height: 4rem;
  background-color: rgba(17, 16, 47, 0.625);
    .mm-logo {
      -webkit-transform: scale(0.75); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: scale(0.75); /* IE 9 */
              transform: scale(0.75); /* IE 10, Fx 16+, Op 12.1+ */
    }
    li {
      font-size: 1rem;
    }
    a {
      color: rgba(255, 255, 255, 0.8)
    }
    .dark-current-page {
      border-bottom: .125rem solid rgba(255, 255, 255, 0.8);
    }
}

header.shrink:hover {
  height: 7.5rem;
  background-color: rgba(17, 16, 47, 1.0);
    .mm-logo {
      -webkit-transform: scale(1); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: scale(1); /* IE 9 */
              transform: scale(1); /* IE 10, Fx 16+, Op 12.1+ */
    }
    li {
      font-size: 1.125rem;
    }
    .dark-nav {
      border-bottom: .125rem solid rgba(255, 255, 255, 0);
      color: rgba(255, 255, 255, 0.8);
    }
    .dark-nav:hover {
      border-bottom: .125rem solid rgba(255, 255, 255, 1.0);
    }
    .dark-current-page {
      border-bottom: .125rem solid rgba(255, 255, 255, 0.8);
    }
}



//--------------------------
// GLOBAL: Btn Style
//--------------------------
.global-btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #9D9CE2;

  text-align: center;
  text-decoration: none;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.global-btn:hover {
  background-color: rgba(#9D9CE2, 1.0);
  color: white;
}

.global-btn-w {
  border-color: white;
}

.global-btn-w:hover {
  background-color: rgba(white, 1.0);
  color: $main-purple;
}



//------------------------------------
// GLOBAL: Gradient For Header
//------------------------------------
.section-p-relative{
  position: relative;
}

.hero-gradient {
  width: 100%;
  height: 3.75rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



//------------------------------------
// GLOBAL: Footer
//------------------------------------
footer {
  height: 6rem;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: rgba(#11102F, 0.0);
  box-sizing: border-box;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: space-between;
  align-items: center;

    div {
      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

      align-items: center;
      box-sizing: border-box;
      img {
        margin-right: 0.75rem;
      }
      a {
        text-decoration: none;
      }
      .padding-left-s {
        margin-right: 2rem;
      }
    }
}



//------------------------------------
// HOME PAGE: Styles
//------------------------------------
// SECTION: Hero
.home-hero {
  background-color: #582694;
  position: relative;
}

.hero-content {
  max-width: 46.625rem;
  margin-left: 2rem;
  margin-right: 2rem;
    h1, p {
      padding-bottom: 2rem;
    }
}

.down-arrow {
  // cursor: pointer;
  width: 4.25rem;
}

.down-arrow-small {
  display: none;
}

// SECTION: Home Page Left
.section-content-home {
    max-width: 71.25rem;
    justify-content: flex-start;
      img {
        max-width: 20.1875rem;
        width: 100%;
      }
      .section-content-home-left {
        max-width: 36.625rem;
        margin-left: 7.1875rem;
        margin-right: 7.1875rem;
          h1 {
            margin-bottom: 1.5rem;
          }
          p {
            margin-bottom: 3.5rem;
          }
      }
}

.responsive-letter-small {
  display: none;
}

// Section: Work
.section-work-bg {
  background-image: url('../../img/MM-work-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-bg-gradient {
  background: radial-gradient(rgba(220, 220, 220, 1.0), rgba(180, 180, 180, 1.0));
  background: linear-gradient(rgba(220, 220, 220, 1.0), rgba(180, 180, 180, 1.0));
  background: -o-linear-gradient(rgba(220, 220, 220, 1.0), rgba(180, 180, 180, 1.0));
  background: -moz-linear-gradient(rgba(220, 220, 220, 1.0), rgba(180, 180, 180, 1.0));
  background: -webkit-linear-gradient(rgba(220, 220, 220, 1.0), rgba(180, 180, 180, 1.0));
  background: -ms-linear-gradient(rgba(220, 220, 220, 1.0), rgba(180, 180, 180, 1.0));
}

.top-gradient {
  width: 100%;
  height: 7rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.bottom-gradient {
  width: 100%;
  height: 7rem;
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.section-work-content {
  background-color: #582694;
  max-width: 34.75rem;

  padding-left: 3.125rem;
  padding-right: 3.125rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  box-sizing: border-box;

  margin-left: 2rem;
  margin-right: 2rem;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  justify-content: center;

  // Box Shadow
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    h1 {
      margin-bottom: 2.125rem;
    }
    p {
      margin-bottom: 3.125rem;
    }
}



//------------------------------------
// LEADERSHIP PAGE: Styles
//------------------------------------
// SECTION: Hero
.leadership-hero {
  background-color: #FC4C48;
}

// SECTION: Executive
.section-content-executive {
    max-width: 71.25rem;
    justify-content: flex-start;
      .section-content-left {
        max-width: 34.75rem;
        margin-left: 5rem;
          h1 {
            margin-bottom: 1.5rem;
          }
          p {
            margin-bottom: 3.5rem;
          }
      }
}

// SECTION: Executive
.executive-img {
  width: 34.75rem;
}

.executive-img-small {
  display: none;
}


// SECTION: Mentor
.section-mentor-bg {
  background-image: url('../../img/MM_class_photo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-mentor-content {
  background-color: #FC4C48;
}



//------------------------------------
// PROCESS PAGE: Styles
//------------------------------------
// Hide Responsive Image
.process-img-small {
  display: none;
}

// Section: Hero
.process-hero-bg {
  background-color: #F6016C;
}

// Section: Doing the Thing
.three-step-flex {
  flex-wrap: wrap;
}

.three-step-intro {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
    h1 {
      width: 100%;
      margin-bottom: 1.875rem;
    }
    p {
      max-width: 36rem;
    }
}

.three-img-container {
  margin-bottom: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;

  align-items: flex-start;
}

.three-img-arrow-padding {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4.625rem;
  margin-bottom: 2.75rem;
}


.indiv-img-container {
  width: 12.5rem;
    img {
      width: 100%;
      margin-bottom: 0.75rem;
    }
    h1 {
      margin-bottom: 0.5rem;
    }
}

// Section: A few skills
.skills-inner-flex {
  flex-wrap: wrap;
}

.skills-header {
  max-width: 71.25rem;
  width: 100%;
  margin-bottom: 8rem;
}

.skills-flex {
  max-width: 71.25rem;
  padding-left: 10rem;
  justify-content: space-between;
  align-items: flex-start;
}

.skills-container {
  width: 33%;
  max-width: 66.25rem;

  box-sizing: border-box;
  padding-left: 1.5rem;
    img {
      margin-bottom: 0.5rem;
    }
    h1 {
      margin-bottom: 1rem;
    }
}

// Section: Design by Numbers
.inner-flex-wrap {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  justify-content: center;
    h1 {
      width: 100%;
      margin-bottom: 8rem;
    }
}

.design-num-parent {
  width: 100%;

  margin-top: 8rem;
  margin-bottom: 2rem;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}

.design-num {
  max-width: 64rem;
  width: 90%;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  justify-content: space-between;

    .design-num-container {
      width: 33%;
      max-width: 20rem;

      box-sizing: border-box;
      padding-left: 2rem;
      padding-right: 2rem;
        h1 {
          margin-bottom: 0.625rem;
        }
    }
    .design-num-container:first-child {
      margin-bottom: 10rem;
    }
}

.num-caption {
  margin-top: 6rem;
  width: 100%;
}



//------------------------------------
// ABOUT PAGE: Styles
//------------------------------------
// Section: Hero
.about-hero-bg {
  background-color: #64B4B6;
}

.responsive-headshot {
  padding-left: 2rem;
  padding-right: 2rem;
}

.hats-flex {
  max-width: 71.25rem;
  width: 100%;

  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0rem;

  justify-content: space-around;
}

.hats-img-margin {
  margin-bottom: 0.75rem;
}

.indiv-img-container-favs {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  justify-content: center;

  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;

  align-items: flex-start;
  max-width: 23rem;
    img {
      width: 100%;
      max-width: 13rem;
      margin-bottom: 0.75rem;
    }
    h1 {
      width: 100%;
      margin-bottom: 0.5rem;
    }
}



//------------------------------------
// PROJECT PAGE
//------------------------------------
.mm-logo-hide {
  display: none;
}

.mm-logo-show {
  display: block;
}

.project-header {
  h1 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .75rem;
  }
}

.projects-parent {
  width: 100%;
  max-width: 275rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 50%;
  min-width: 20rem;

  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;

  margin-bottom: 2rem;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  align-items: center;

    // img {
    //   width: 100%;
    //   // margin-bottom: 1.5rem;
    // }
    .d-wo-h-2-p-l {
      line-height: 1.5rem;
    }
    .d-wo-h-1-dp-l {
      margin-bottom: 0.75rem;
    }
}

.project-children {
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
}

.desc-overlay {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding-left: .375rem;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(#F6016C, 0.0);

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  align-content: center;

  // Transisiton
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

    h1, h2, p {
      width: 100%;
      color: rgba(255, 255, 255, 0.0);
      cursor: pointer;
      // Transisiton
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    h1 {
      margin-bottom: 1.75rem;
    }
    .divider-line {
      width: 3rem;
      height: .25rem;
      background-color: rgba(255, 255, 255, 0.0);
      margin-bottom: .5rem;
      // Transisiton
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
}

.desc-overlay:hover {
  background-color: rgba(#F6016C, 0.85);
  padding-left: 2.25rem;

    h1, h2, p {
      width: 100%;
      color: rgba(255, 255, 255, 1.0);
    }
    .divider-line {
      background-color: rgba(255, 255, 255, 1.0);
    }
}


.desc-overlay-soon {
  cursor: default;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding-left: .375rem;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(#64B4B6, 0.0);

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  flex-wrap: wrap;
  align-content: center;

  // Transisiton
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

    h1, h2, p {
      width: 100%;
      color: rgba(255, 255, 255, 0.0);
      cursor: default;
      // Transisiton
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    h1 {
      margin-bottom: 1.75rem;
    }
    .divider-line {
      width: 3rem;
      height: .25rem;
      background-color: rgba(255, 255, 255, 0.0);
      margin-bottom: .5rem;
      // Transisiton
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
}

.desc-overlay-soon:hover {
  background-color: rgba(#64B4B6, 0.85);
  padding-left: 2.25rem;

    h1, h2, p {
      width: 100%;
      color: rgba(255, 255, 255, 1.0);
    }
    .divider-line {
      background-color: rgba(255, 255, 255, 1.0);
    }
}

// .coming-soon {
//   cursor: default;
// }



//******************************************
//******************************************
// RESPONSIVE STYLES BELOW
//******************************************
//******************************************




//******************************************
// LAYOUT: 1024px Breakpoint
//******************************************
@media screen and (max-width: 64rem)
               {
    //------------------------------------
    // RESPONSIVE: GLOBAL: Responsive Letters
    //------------------------------------
    h1.d-01-h-1-w-l {
      font-size: 36px;
    }
    img.responsive-letter {
      margin-left: 1rem;
      width: 16rem;
    }

    //------------------------------------
    // RESPONSIVE: PROCESS PAGE
    //------------------------------------
    .three-img-arrow-padding {
      -webkit-transform: scale(.8); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: scale(.8); /* IE 9 */
              transform: scale(.8);
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .skills-flex {
      padding-left: 7rem;
    }

    //------------------------------------
    // RESPONSIVE: PROJECT PAGE
    //------------------------------------
    .desc-overlay, .desc-overlay-soon {
      h1 {
        font-size: 1.75rem;
      }
    }
}


//******************************************
// LAYOUT: 880px Breakppoint
//******************************************
@media screen and (max-width: 55rem)
               {
    //------------------------------------
    // GLOBAL: Footer
    //------------------------------------
    footer {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
        div {
          a.repsonsive-li {
            margin-right: 1rem;
          }
          .responsive-hide {
            display: none;
          }
          p.no-stealing {
            margin-right: 0;
          }
        }
    }

    //------------------------------------
    // GLOBAL: Responsive Letters
    //------------------------------------
    .section-content-home {
      .section-content-home-left {
       margin-left: 4rem;
      }
    }

    //------------------------------------
    // PROCESS PAGE
    //------------------------------------
    .indiv-img-container {
      width: 20%;
    }

    .skills-flex {
      padding-left: 5rem;
    }


    //------------------------------------
    // LEADERSHIP PAGE
    //------------------------------------
    .section-content-executive {
      .section-content-left {
        .d-02-h-2-w-l {
        }
        .d-02-p-body-section-p-l {
          font-size: 1rem;
        }
      }
    }

    .executive-img {
      width: 24rem;
    }

    //------------------------------------
    // RESPONSIVE: PROJECT PAGE
    //------------------------------------
    .desc-overlay, .desc-overlay-soon {
      h2 {
        font-size: .7625rem;
      }
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.0rem;
      }
    }
}




//******************************************
// LAYOUT: 768px Breakppoint
//******************************************
@media screen and (max-width: 48rem)
               {
    //------------------------------------
    // RESPONSIVE: GLOBAL NAV
    //------------------------------------
    // Bring in Hamburger
    .nav-hamburger {
      display: block;
      width: 3.75rem;
    }
    // remove Nav List
    .nav-list {
      display: none;
    }

    .journey-small {
      display: block;
    }

    .journey-large {
      display: none;
    }

    .bottom-center {
      bottom: 1.5rem;
    }

    header {
     height: 4rem;
     padding-left: 1rem;
     padding-right: 0.25rem;
     background-color: rgba(17, 16, 47, 0.1);
    }
    .mm-logo {
     -webkit-transform: scale(0.75); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
         -ms-transform: scale(0.75); /* IE 9 */
             transform: scale(0.75); /* IE 10, Fx 16+, Op 12.1+ */
    }
    header.shrink:hover {
      height: 4rem;
      background-color: rgba(17, 16, 47, 0.625);
        .mm-logo {
          -webkit-transform: scale(0.75); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
              -ms-transform: scale(0.75); /* IE 9 */
                  transform: scale(0.75); /* IE 10, Fx 16+, Op 12.1+ */
        }
    }

    //------------------------------------
    // RESPONSIVE: GLOBAL: Responsive Letters
    //------------------------------------
    .section-padding-responsive-s {
      padding-bottom: 6rem;
      padding-top: 6rem;
    }

    .section-padding-responsive-bottom-xs {
      padding-bottom: 1rem;
    }

    .section-padding-responsive-top-s {
      padding-top: 6rem;
    }

    .section-padding-bottom-S {
      padding-bottom: 2rem;
    }
    .section-padding-bottom-S-M {
      padding-bottom: 3rem;
    }

    .section-content-home-mobile {
      .section-content-home-left {
        margin-left: 2rem;
          img.responsive-letter {
            margin-left: 1.5rem;
            width: 14rem;
          }
          h1.d-01-h-1-w-l {
            font-size: 2rem;
          }
          p.d-02-p-body-section-p-l, p.d-01-p-body-hero-w-l {
            font-size: 1rem;
            font-weight: 300;;
          }
      }
    }
    h1.d-01-h-1-w-c {
      font-size: 2.25rem;
    }


    //------------------------------------
    // RESPONSIVE: GLOBAL: Font Sizes
    //------------------------------------
    .d-02-h-2-w-c {
      font-size: 1.5rem;
    }
    .d-02-p-body-section-p-c {
      font-size: 1rem;
    }
    .d-03-p-w-l {
      font-size: 1rem;
    }


    //------------------------------------
    // RESPONSIVE: GLOBAL: Footer
    //------------------------------------

    footer {
      div {
        .responsive-hide-email {
          display: none;
        }
      }
    }

    .btn-padding-small {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }


    //------------------------------------
    // RESPONSIVE: HOME PAGE: Responsive Home Hero
    //------------------------------------
    .hero-content {
      max-width: 30.1875rem;
    }
    .home-hero{
      p.d-01-p-body-hero-w-l {
        font-size: 1rem;
        font-weight: 300;
      }
    }

    //------------------------------------
    // RESPONSIVE: ROCESS PAGE
    //------------------------------------
    // SECTION: A few of My Skills
    .skills-flex {
      flex-wrap: wrap;
      justify-content: center;
    }
    .skills-container {
      width: 100%;
      padding-left: 0;

      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 4rem;

      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

      flex-wrap: wrap;
      justify-content: center;
        h1, ul {
          width: 100%;
          text-align: center;
        }
    }

    .skills-flex {
      padding-left: 0rem;
    }


    //Global Three Image container
    .three-img-container {
      flex-wrap: wrap;
      margin-bottom: 2rem;
        .three-img-arrow-padding {
          display: none;
        }
        .indiv-img-container{
          width: 100%;
          margin-bottom: 3.5rem;

          display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
          display: -ms-flexbox;  /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
          display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

          flex-wrap: wrap;
          justify-content: center;
            .process-img {
              display: none;
            }
            .process-img-small {
              display: block;
              max-width: 9.875rem;
            }
            div {
              width: 100%;
            }
        }
    }

    // SECTION: Design by Numbers
    .design-num {
      flex-wrap: wrap;
      justify-content: center;
        .design-num-container {
          width: 100%;
          margin-bottom: 4rem;
        }
        .design-num-container:first-child {
          margin-bottom: 4rem;
        }
    }
    .num-caption {
      margin-top: 2rem;
    }

    //------------------------------------
    // RESPONSIVE: WORK PAGE
    //------------------------------------
    .project {
      margin-bottom: 3rem;
        img {
          margin-bottom: 0.75rem;
        }
    }
    .section-padding-top-work {
      padding-top: 6.5rem;
    }
    .d-wo-h-1-dp-l {
      font-size: 1.125rem;
    }
    .d-wo-p-dp-l {
      font-size: 1rem;
    }


    //------------------------------------
    // RESPONSIVE: LEADERSHIP PAGE
    //------------------------------------
    .section-content-executive {
      justify-content: center;
      flex-wrap: wrap;
        .section-content-left {
          max-width: 28rem;
          margin-left: 2rem;
          margin-right: 2rem;

          display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
          display: -ms-flexbox;  /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
          display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

          flex-wrap: wrap;
          justify-content: center;
            p {
              margin-bottom: 2rem;
            }
        }
        .d-02-p-body-section-p-l {
          text-align: center;
        }
    }
    .executive-img {
      display: none;
    }
    .executive-img-small {
      display: block;
      width: 100%;
      margin-bottom: 2rem;
    }

    //------------------------------------
    // ABOUT PAGE
    //------------------------------------
    // Favs Section
    .indiv-img-container-favs{
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 3.125rem;
        img {
          margin-bottom: 1.25rem;
        }
    }

    //------------------------------------
    // RESPONSIVE: PROJECT PAGE
    //------------------------------------
    .desc-overlay, .desc-overlay-soon {
      h2 {
        font-size: .7625rem;
      }
      h1 {
        font-size: 1.25rem;
      }
      p {
        font-size: .875rem;
      }
      .divider-line {
        height: .1875rem;
      }
    }
}




//******************************************
// LAYOUT: 660px Breakpoint
//******************************************
@media screen and (max-width: 41.25rem)
               {
    //------------------------------------
    // GLOBAL: Letter Sections
    //------------------------------------
    .section-content-home-mobile {
      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

      flex-wrap: wrap;
      justify-content: center;
        .responsive-letter {
          display: none;
        }
        .responsive-letter-small {
          width: 12.875rem;
          display: block;
          margin-bottom: 3rem;
        }
        .responsive-headshot {
          width: 10.5rem;
          margin-bottom: 0.5rem;
        }
        .section-content-home-left {
          max-width: 26rem;
          margin-left: 2.5rem;
          margin-right: 2.5rem;

          display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
          display: -ms-flexbox;  /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
          display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

          flex-wrap: wrap;
          justify-content: center;
            h1, p {
              text-align: center;
            }
        }
    }

    .d-01-p-body-hero-w-l {
      font-size: 1.25rem;
    }

    //------------------------------------
    // GLOBAL: Arrows
    //------------------------------------
    .down-arrow {
      display: none;
    }

    .down-arrow-small {
      // cursor: pointer;
      width: 3.25rem;
      display: block;
    }


    //------------------------------------
    // PROCESS PAGE
    //------------------------------------
    .three-step-intro {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    // Work Content Center P text
    .section-work-content {
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
    }

    //------------------------------------
    // WORK PAGE
    //------------------------------------
    // .project {
    //   width: 100%;
    //   padding-left: 1.75rem;
    //   padding-right: 1.75rem;
    // }

    //------------------------------------
    // RESPONSIVE: PROJECT PAGE
    //------------------------------------
    .project {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 1.25rem
    }


    .desc-overlay, .desc-overlay-soon{
      h2 {
        font-size: .875rem;
      }
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.125rem;
      }
      .divider-line {
        height: .25rem;
      }
    }
}




//******************************************
// LAYOUT: 460px Breakpoint
//******************************************
@media screen and (max-width: 28.75rem)
               {
    //------------------------------------
    // Global Nav
    //------------------------------------
    p.no-stealing {
      span {
        display: none;
      }
    }
    .d-01-p-body-hero-w-l {
        span {
          display: none;
        }
    }
    //------------------------------------
    // RESPONSIVE: PROJECT PAGE
    //------------------------------------
    .desc-overlay, .desc-overlay-soon {
      h2 {
        font-size: .875rem;
      }
      h1 {
        font-size: 1.625rem;
      }
      p {
        font-size: 1rem;
      }
      .divider-line {
        height: .1875rem;
      }
    }
}
