/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:100,300,400,500,700,900);
@import url(https://use.fontawesome.com/55f0471c01.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.d-g-footer-dp-l {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  line-height: 1.71;
  text-align: left;
  color: #181743; }

.d-g-footer-p-l {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  line-height: 1.71;
  text-align: left;
  color: #9d9ce2; }

.d-g-nav-w-c {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.56;
  text-align: center;
  color: #ffffff; }

.d-g-nav-dp-c {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.56;
  text-align: center;
  color: #171544; }

.d-01-h-1-w-l {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #ffffff; }

.d-01-h-1-w-l-home {
  font-family: "Roboto Slab", serif;
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #ffffff; }

.d-01-h-1-w-c {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.0;
  text-align: center;
  color: #ffffff; }

.d-01-h-1-dp-c {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.0;
  text-align: center;
  color: #181743; }

.d-01-p-body-hero-w-l {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
  color: #ffffff; }

.d-02-h-2-alt-w-c {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.0;
  text-align: center;
  color: #ffffff; }

.d-02-h-2-w-l {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff; }

.d-02-h-2-w-c {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: #ffffff; }

.d-02-h-2-w-c-small {
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: #ffffff; }

.d-02-p-body-section-w-c {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: .04rem;
  line-height: 1.8;
  text-align: center;
  color: #ffffff; }

.d-02-p-body-section-p-c {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: .02rem;
  line-height: 1.8;
  text-align: center;
  color: #9696da; }

.d-02-p-body-section-p-l {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: .04rem;
  line-height: 1.8;
  text-align: left;
  color: #9d9ce2; }

.d-03-h-1-graphic-m-c {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.0;
  text-align: center;
  color: #f6016c; }

.d-03-h-1-graphic-o-c {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.0;
  text-align: center;
  color: #fc4c48; }

.d-03-h-3-w-c {
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: #ffffff; }

.d-03-h-3-p-l {
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #9d9ce2; }

.d-03-p-2-p-c {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.33;
  text-align: center;
  color: #9d9ce2; }

.d-03-p-2-p-c-small {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .02rem;
  line-height: 1.33;
  text-align: center;
  color: #9d9ce2; }

.d-03-p-w-l {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 2.22;
  text-align: left;
  color: #ffffff; }

.d-03-p-w-l-ul {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .02rem;
  line-height: 2.22;
  text-align: left;
  color: #ffffff; }

.d-03-p-2-w-c {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.33;
  text-align: center;
  color: #ffffff; }

.d-03-p-1-p-c {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.33;
  text-align: center;
  color: #9d9ce2; }

.d-03-p-1-p-c-alt {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.33;
  text-align: center;
  color: #9d9ce2; }

.d-03-p-1-p-c-favs {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .01rem;
  line-height: 1.55;
  text-align: center;
  color: #9d9ce2; }

.d-03-caption-p-c {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  color: rgba(157, 156, 226, 0.4); }

.d-04-p-btn-w-c {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .02rem;
  line-height: 1.56;
  text-align: center;
  color: #ffffff; }

.d-04-p-btn-p-c {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .02rem;
  line-height: 1.56;
  text-align: center;
  color: #9d9ce2; }

.d-wo-h-1-dp-l {
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #181743; }

.d-wo-h-1-w-l {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.125;
  text-align: left;
  color: #ffffff; }

.d-wo-h-2-p-l {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: #9d9ce2; }

.d-wo-h-2-w-l {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: #ffffff; }

.d-wo-p-dp-l {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.33;
  text-align: left;
  color: #181743; }

.d-wo-p-w-l {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #ffffff; }

.d-wo-p-dp-c {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.33;
  text-align: center;
  color: #181743; }

.m-g-nav-g-l {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: left;
  color: #8a89a2; }

.m-g-nav-l-w {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  text-align: left;
  color: #ffffff; }

.m-01-h-1-w-c-480 {
  font-family: "Roboto Slab", serif;
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: #ffffff; }

.m-01-p-w-c-480 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.62;
  text-align: center;
  color: #ffffff; }

.m-02-p-dp-c {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #9d9ce2; }

.m-02-h-2-w-c {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
  color: #ffffff; }

.m-02-p-2-w-c {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.78;
  text-align: center;
  color: #ffffff; }

.m-03-caption-p-c {
  font-family: "Roboto", sans-serif;
  font-size: .875rem;
  line-height: 1.29;
  text-align: center;
  color: #9d9ce2; }

.star-style {
  font-size: 1.125rem;
  color: #ffffff;
  vertical-align: super;
  letter-spacing: -1rem; }

.m-03-h-3-p-c {
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: #9d9ce2; }

.m-04-p-btn-p-c {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  text-align: center;
  color: #9d9ce2; }

.m-04-p-btn-w-c {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  text-align: center;
  color: #ffffff; }

.section-content-home-left, .wo-header-padding, .hero-content, .letter-img-animate {
  -webkit-animation: fadein 1.3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.3s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.3s;
  /* Internet Explorer */
  -o-animation: fadein 1.3s;
  /* Opera < 12.1 */
  animation: fadein 1.3s; }

.project-img {
  animation: slideProject 1s; }

.nav-slide {
  animation: navSlide 1.6s; }

.bottom-center {
  animation: arrowSlide 1s; }

.bottom-center-slow {
  animation: arrowSlide 1.6s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes movedLetter {
  from {
    transform: translateX(-10%); }
  to {
    transform: translateX(0%); } }
@keyframes slide {
  from {
    margin-top: 3rem; }
  to {
    margin-top: 0rem; } }
@keyframes slideProject {
  from {
    margin-top: 1rem; }
  to {
    margin-top: 0rem; } }
@keyframes navSlide {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0%); } }
@keyframes arrowSlide {
  from {
    transform: translate(-50%, 250%); }
  to {
    transform: translate(-50%, 0%); } }
body {
  overflow-x: hidden;
  /* needed because hiding the menu on the right side is not perfect,  */
  -webkit-font-smoothing: antialiased; }

.main-purple-bg {
  background-color: #181743;
  color: white; }

.section-VH {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 5rem;
  padding-bottom: 5rem; }

.section-padding-M {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.section-padding-L {
  padding-top: 14rem;
  padding-bottom: 14rem; }

.section-padding-XL {
  padding-top: 16rem;
  padding-bottom: 16rem; }

.section-padding-top-M {
  padding-top: 10rem; }

.section-padding-top-L {
  padding-top: 14rem; }

.section-padding-bottom-S {
  padding-bottom: 6rem; }

.section-padding-bottom-L {
  padding-bottom: 14rem; }

.section-padding-bottom-XL {
  padding-bottom: 16rem; }

.section-padding-sides {
  padding-left: 2rem;
  padding-right: 2rem; }

.parent-flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.inner-flex {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center; }

.flex-wrap {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }

.bottom-center {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: translateX(-50%);
  /* IE 9 */
  transform: translateX(-50%); }

.nav-hamburger {
  display: none; }

header {
  width: 100%;
  height: 7.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-between;
  align-items: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  header .mm-logo {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    transform: scale(0.875); }
  header li {
    display: inline;
    padding: 1rem; }
  header li a {
    text-decoration: none;
    color: inherit;
    padding-bottom: 1.5rem;
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  header li a:hover {
    border-bottom: 0.125rem solid white;
    padding-bottom: 0.625rem; }
  header .current-page {
    border-bottom: 0.125rem solid white;
    padding-bottom: 0.625rem;
    pointer-events: none;
    cursor: default; }

.nav-item-small {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }

.n-home:hover {
  color: #803BD3; }

.n-leader:hover {
  color: #FC4C48; }

.n-process:hover {
  color: #F6016C; }

.n-about:hover {
  color: #64B4B6; }

.n-work:hover {
  color: tomato; }

#menuToggle {
  display: block;
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 7px;
  position: relative;
  background: white;
  border-radius: 0px;
  z-index: 1;
  transform-origin: 2px 0px;
  -webkit-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.55s ease;
  -moz-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.55s ease;
  -o-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotate(45deg) translate(-2px, -1px);
  /* IE 9 */
  transform: rotate(45deg) translate(-2px, -1px);
  background: white; }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotate(0deg) scale(0.2, 0.2);
  /* IE 9 */
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotate(-45deg) translate(0, -1px);
  /* IE 9 */
  transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #11102F;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: translate(100%, 0);
  /* IE 9 */
  transform: translate(100%, 0);
  -webkit-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px;
  display: list-item; }

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
  -webkit-transform: scale(1, 1);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: scale(1, 1);
  /* IE 9 */
  transform: scale(1, 1);
  opacity: 1; }

.dark-nav:hover {
  border-bottom: 0.125rem solid rgba(17, 16, 47, 0.75);
  padding-bottom: .625rem; }

.dark-current-page {
  border-bottom: 0.125rem solid rgba(17, 16, 47, 0.75);
  padding-bottom: .625rem;
  pointer-events: none;
  cursor: default; }

.shrink {
  height: 4rem;
  background-color: rgba(17, 16, 47, 0.625); }
  .shrink .mm-logo {
    -webkit-transform: scale(0.75);
    /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: scale(0.75);
    /* IE 9 */
    transform: scale(0.75);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  .shrink li {
    font-size: 1rem; }
  .shrink a {
    color: rgba(255, 255, 255, 0.8); }
  .shrink .dark-current-page {
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0.8); }

header.shrink:hover {
  height: 7rem;
  background-color: #11102f; }
  header.shrink:hover .mm-logo {
    -webkit-transform: scale(0.75);
    /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: scale(0.75);
    /* IE 9 */
    transform: scale(0.75);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  header.shrink:hover li {
    font-size: 1.125rem; }
  header.shrink:hover .dark-nav {
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.8); }
  header.shrink:hover .dark-nav:hover {
    border-bottom: 0.125rem solid white; }
  header.shrink:hover .dark-current-page {
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0.8); }

.global-btn {
  padding-top: .875rem;
  padding-bottom: .875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #9D9CE2;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.global-btn:hover {
  background-color: #9d9ce2;
  color: white; }

.global-btn-w {
  border-color: white; }

.global-btn-w:hover {
  background-color: white;
  color: #181743; }

.section-p-relative {
  position: relative; }

.hero-gradient {
  width: 100%;
  height: 3.75rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

footer {
  height: 6rem;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: rgba(17, 16, 47, 0);
  box-sizing: border-box;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-between;
  align-items: center; }
  footer div {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    box-sizing: border-box; }
    footer div img {
      margin-right: 0.75rem; }
    footer div a {
      text-decoration: none; }
    footer div .padding-left-s {
      margin-right: 2rem; }

.home-hero {
  background-color: #582694;
  position: relative; }

.hero-content {
  max-width: 38.625rem;
  margin-left: 2rem;
  margin-right: 2rem; }
  .hero-content h1, .hero-content p {
    padding-bottom: 2rem; }

.down-arrow {
  width: 3.5rem; }

.down-arrow-small {
  display: none; }

.section-content-home {
  max-width: 63.25rem;
  justify-content: flex-start; }
  .section-content-home img {
    max-width: 16.1875rem;
    width: 100%; }
  .section-content-home .section-content-home-left {
    max-width: 36.625rem;
    margin-left: 7.1875rem;
    margin-right: 7.1875rem; }
    .section-content-home .section-content-home-left h1 {
      margin-bottom: 1.5rem; }
    .section-content-home .section-content-home-left p {
      margin-bottom: 3.5rem; }

.responsive-letter-small {
  display: none; }

.section-work-bg {
  background-image: url("../../img/MM-work-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.para-test {
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute; }
  .para-test img {
    min-width: 100%;
    min-height: 100%; }

.section-bg-gradient {
  background: radial-gradient(gainsboro, #b4b4b4);
  background: linear-gradient(gainsboro, #b4b4b4);
  background: -o-linear-gradient(gainsboro, #b4b4b4);
  background: -moz-linear-gradient(gainsboro, #b4b4b4);
  background: -webkit-linear-gradient(gainsboro, #b4b4b4);
  background: -ms-linear-gradient(gainsboro, #b4b4b4); }

.top-gradient {
  width: 100%;
  height: 7rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.bottom-gradient {
  width: 100%;
  height: 7rem;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0; }

.section-work-content {
  background-color: #582694;
  max-width: 34.75rem;
  padding-left: 5.125rem;
  padding-right: 5.125rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  box-sizing: border-box;
  margin-left: 2rem;
  margin-right: 2rem;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5); }
  .section-work-content h1 {
    margin-bottom: 2.125rem; }
  .section-work-content p {
    margin-bottom: 3.125rem; }

.section-work-content-alt {
  padding-left: 3.5rem;
  padding-right: 3.5rem; }

.leadership-hero {
  background-color: #FC4C48; }

.section-content-executive {
  max-width: 71.25rem;
  justify-content: flex-start; }
  .section-content-executive .section-content-left {
    max-width: 34.75rem;
    margin-left: 5rem; }
    .section-content-executive .section-content-left h1 {
      margin-bottom: 1.5rem; }
    .section-content-executive .section-content-left p {
      margin-bottom: 3.5rem; }

.executive-img {
  width: 34.75rem; }

.executive-img-small {
  display: none; }

.section-mentor-bg {
  background-image: url("../../img/MM_class_photo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.section-mentor-content {
  background-color: #FC4C48; }

.process-img-small {
  display: none; }

.process-hero-bg {
  background-color: #F6016C; }

.three-step-flex {
  flex-wrap: wrap; }

.three-step-intro {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem; }
  .three-step-intro h1 {
    width: 100%;
    margin-bottom: 1.875rem; }
  .three-step-intro p {
    max-width: 36rem; }
  .three-step-intro .hats-max-width {
    max-width: 30rem; }

.three-img-container {
  margin-bottom: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: flex-start; }

.three-img-arrow-padding {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4.625rem;
  margin-bottom: 2.75rem; }

.indiv-img-container {
  width: 12.5rem; }
  .indiv-img-container img {
    width: 100%;
    margin-bottom: 0.75rem; }
  .indiv-img-container h1 {
    margin-bottom: 0.5rem; }

.skills-inner-flex {
  flex-wrap: wrap; }

.skills-header {
  max-width: 71.25rem;
  width: 100%;
  margin-bottom: 8rem; }

.skills-flex {
  max-width: 71.25rem;
  padding-left: 10rem;
  justify-content: space-between;
  align-items: flex-start; }

.skills-container {
  width: 33%;
  max-width: 66.25rem;
  box-sizing: border-box;
  padding-left: 1.5rem; }
  .skills-container img {
    margin-bottom: 0.5rem; }
  .skills-container h1 {
    margin-bottom: 1rem; }

.inner-flex-wrap {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  justify-content: center; }
  .inner-flex-wrap h1 {
    width: 100%;
    margin-bottom: 8rem; }

.design-num-parent {
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center; }

.design-num {
  max-width: 64rem;
  width: 90%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  justify-content: space-between; }
  .design-num .design-num-container {
    width: 33%;
    max-width: 20rem;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem; }
    .design-num .design-num-container h1 {
      margin-bottom: 0.625rem; }
  .design-num .design-num-container:first-child {
    margin-bottom: 10rem; }

.num-caption {
  margin-top: 6rem;
  width: 100%; }

.about-hero-bg {
  background-image: url("../../img/MM_about_me_dark.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.center-txt {
  text-align: center; }

.responsive-headshot {
  padding-left: 2rem;
  padding-right: 2rem; }

.hats-flex {
  max-width: 71.25rem;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0rem;
  justify-content: space-around; }

.hats-img-margin {
  margin-bottom: 0.75rem; }

.indiv-img-container-favs {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  align-items: flex-start;
  max-width: 23rem; }
  .indiv-img-container-favs img {
    width: 100%;
    max-width: 13rem;
    margin-bottom: 0.75rem; }
  .indiv-img-container-favs h1 {
    width: 100%;
    margin-bottom: 0.5rem; }

.mm-logo-hide {
  display: none; }

.mm-logo-show {
  display: block; }

.project-header h1 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .75rem; }

.projects-parent {
  width: 100%;
  max-width: 275rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  justify-content: space-around; }

.project {
  width: 50%;
  min-width: 20rem;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem; }
  .project .d-wo-h-2-p-l {
    line-height: 1.5rem; }
  .project .d-wo-h-1-dp-l {
    margin-bottom: 0.75rem; }

.project-children {
  position: relative; }
  .project-children a {
    text-decoration: none; }

.project-img {
  width: 100%; }

.desc-overlay {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: .375rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(246, 1, 108, 0);
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  align-content: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .desc-overlay h1, .desc-overlay h2, .desc-overlay p {
    width: 100%;
    color: rgba(255, 255, 255, 0);
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .desc-overlay h1 {
    margin-bottom: 1.75rem; }
  .desc-overlay .divider-line {
    width: 3rem;
    height: .25rem;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: .5rem;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.desc-overlay:hover {
  background-color: rgba(246, 1, 108, 0.85);
  padding-left: 2.25rem; }
  .desc-overlay:hover h1, .desc-overlay:hover h2, .desc-overlay:hover p {
    width: 100%;
    color: white; }
  .desc-overlay:hover .divider-line {
    background-color: white; }

.desc-overlay-soon {
  cursor: default;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: .375rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(100, 180, 182, 0);
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  align-content: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .desc-overlay-soon h1, .desc-overlay-soon h2, .desc-overlay-soon p {
    width: 100%;
    color: rgba(255, 255, 255, 0);
    cursor: default;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .desc-overlay-soon h1 {
    margin-bottom: 1.75rem; }
  .desc-overlay-soon .divider-line {
    width: 3rem;
    height: .25rem;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: .5rem;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.desc-overlay-soon:hover {
  background-color: rgba(100, 180, 182, 0.85);
  padding-left: 2.25rem; }
  .desc-overlay-soon:hover h1, .desc-overlay-soon:hover h2, .desc-overlay-soon:hover p {
    width: 100%;
    color: white; }
  .desc-overlay-soon:hover .divider-line {
    background-color: white; }

@media screen and (min-width: 100rem) {
  .project {
    width: 33.3%; } }
@media screen and (max-width: 64rem) {
  h1.d-01-h-1-w-l {
    font-size: 36px; }

  img.responsive-letter {
    margin-left: 4rem;
    width: 16rem; }

  .section-content-home-left {
    margin-left: 5.1875rem; }

  .three-img-arrow-padding {
    -webkit-transform: scale(0.8);
    /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: scale(0.8);
    /* IE 9 */
    transform: scale(0.8);
    margin-left: 1rem;
    margin-right: 1rem; }

  .skills-flex {
    padding-left: 7rem; }

  .desc-overlay h1, .desc-overlay-soon h1 {
    font-size: 1.75rem; } }
@media screen and (max-width: 55rem) {
  footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
    footer div a.repsonsive-li {
      margin-right: 1rem; }
    footer div .responsive-hide {
      display: none; }
    footer div p.no-stealing {
      margin-right: 0; }

  .section-content-home .section-content-home-left {
    margin-left: 4rem; }

  .indiv-img-container {
    width: 20%; }

  .skills-flex {
    padding-left: 5rem; }

  .section-content-executive .section-content-left .d-02-p-body-section-p-l {
    font-size: 1rem; }

  .executive-img {
    width: 24rem; }

  .desc-overlay h2, .desc-overlay-soon h2 {
    font-size: .7625rem; }
  .desc-overlay h1, .desc-overlay-soon h1 {
    font-size: 1.5rem; }
  .desc-overlay p, .desc-overlay-soon p {
    font-size: 1.0rem; } }
@media screen and (max-width: 48rem) {
  .nav-hamburger {
    display: block;
    width: 3.75rem; }

  .nav-list {
    display: none; }

  .journey-small {
    display: block; }

  .journey-large {
    display: none; }

  .bottom-center {
    bottom: 1.5rem; }

  header {
    height: 4rem;
    padding-left: 1rem;
    padding-right: 0.25rem;
    background-color: rgba(17, 16, 47, 0.1); }

  .mm-logo {
    -webkit-transform: scale(0.75);
    /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: scale(0.75);
    /* IE 9 */
    transform: scale(0.75);
    /* IE 10, Fx 16+, Op 12.1+ */ }

  header.shrink:hover {
    height: 4rem;
    background-color: rgba(17, 16, 47, 0.625); }
    header.shrink:hover .mm-logo {
      -webkit-transform: scale(0.75);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: scale(0.75);
      /* IE 9 */
      transform: scale(0.75);
      /* IE 10, Fx 16+, Op 12.1+ */ }

  .section-padding-responsive-s {
    padding-bottom: 6rem;
    padding-top: 6rem; }

  .section-padding-responsive-bottom-xs {
    padding-bottom: 1rem; }

  .section-padding-responsive-top-s {
    padding-top: 6rem; }

  .section-padding-bottom-S {
    padding-bottom: 2rem; }

  .section-padding-bottom-S-M {
    padding-bottom: 3rem; }

  .section-content-home-mobile .section-content-home-left {
    margin-left: 2rem; }
    .section-content-home-mobile .section-content-home-left img.responsive-letter {
      margin-left: 1.5rem;
      width: 14rem; }
    .section-content-home-mobile .section-content-home-left h1.d-01-h-1-w-l {
      font-size: 2rem; }
    .section-content-home-mobile .section-content-home-left p.d-02-p-body-section-p-l, .section-content-home-mobile .section-content-home-left p.d-01-p-body-hero-w-l {
      font-size: 1rem;
      font-weight: 300; }

  h1.d-01-h-1-w-c {
    font-size: 2.25rem; }

  .d-02-h-2-w-c {
    font-size: 1.5rem; }

  .d-02-p-body-section-p-c {
    font-size: 1rem; }

  .d-03-p-w-l {
    font-size: 1rem; }

  footer div .responsive-hide-email {
    display: none; }

  .btn-padding-small {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }

  .hero-content {
    max-width: 30.1875rem; }

  .home-hero p.d-01-p-body-hero-w-l {
    font-size: 1rem;
    font-weight: 300; }

  .skills-flex {
    flex-wrap: wrap;
    justify-content: center; }

  .skills-container {
    width: 100%;
    padding-left: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: wrap;
    justify-content: center; }
    .skills-container h1, .skills-container ul {
      width: 100%;
      text-align: center; }

  .skills-flex {
    padding-left: 0rem; }

  .three-img-container {
    flex-wrap: wrap;
    margin-bottom: 2rem; }
    .three-img-container .three-img-arrow-padding {
      display: none; }
    .three-img-container .indiv-img-container {
      width: 100%;
      margin-bottom: 3.5rem;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      flex-wrap: wrap;
      justify-content: center; }
      .three-img-container .indiv-img-container .process-img {
        display: none; }
      .three-img-container .indiv-img-container .process-img-small {
        display: block;
        max-width: 9.875rem; }
      .three-img-container .indiv-img-container div {
        width: 100%; }

  .design-num {
    flex-wrap: wrap;
    justify-content: center; }
    .design-num .design-num-container {
      width: 100%;
      margin-bottom: 4rem; }
    .design-num .design-num-container:first-child {
      margin-bottom: 4rem; }

  .num-caption {
    margin-top: 2rem; }

  .project {
    margin-bottom: 3rem; }

  .section-padding-top-work {
    padding-top: 6.5rem; }

  .d-wo-h-1-dp-l {
    font-size: 1.125rem; }

  .d-wo-p-dp-l {
    font-size: 1rem; }

  .section-content-executive {
    justify-content: center;
    flex-wrap: wrap; }
    .section-content-executive .section-content-left {
      max-width: 28rem;
      margin-left: 2rem;
      margin-right: 2rem;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      flex-wrap: wrap;
      justify-content: center; }
      .section-content-executive .section-content-left p {
        margin-bottom: 2rem; }
    .section-content-executive .d-02-p-body-section-p-l {
      text-align: center; }

  .executive-img {
    display: none; }

  .executive-img-small {
    display: block;
    width: 100%;
    margin-bottom: 2rem; }

  .indiv-img-container-favs {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3.125rem; }
    .indiv-img-container-favs img {
      margin-bottom: 1.25rem; }

  .desc-overlay h2, .desc-overlay-soon h2 {
    font-size: .7625rem; }
  .desc-overlay h1, .desc-overlay-soon h1 {
    font-size: 1.25rem; }
  .desc-overlay p, .desc-overlay-soon p {
    font-size: .875rem; }
  .desc-overlay .divider-line, .desc-overlay-soon .divider-line {
    height: .1875rem; } }
@media screen and (max-width: 41.25rem) {
  .section-content-home-mobile {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: wrap;
    justify-content: center; }
    .section-content-home-mobile .responsive-letter {
      display: none; }
    .section-content-home-mobile .responsive-letter-small {
      width: 12.875rem;
      display: block;
      margin-bottom: 3rem; }
    .section-content-home-mobile .responsive-headshot {
      width: 10.5rem;
      margin-bottom: 0.5rem; }
    .section-content-home-mobile .section-content-home-left {
      max-width: 26rem;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      flex-wrap: wrap;
      justify-content: center; }
      .section-content-home-mobile .section-content-home-left h1, .section-content-home-mobile .section-content-home-left p {
        text-align: center; }

  .d-01-p-body-hero-w-l {
    font-size: 1.25rem; }

  .down-arrow {
    display: none; }

  .down-arrow-small {
    width: 3.25rem;
    display: block; }

  .three-step-intro {
    padding-left: 4rem;
    padding-right: 4rem; }

  .section-work-content {
    padding-left: 3.125rem;
    padding-right: 3.125rem; }
    .section-work-content h1 {
      font-size: 1.5rem; }
    .section-work-content p {
      font-size: 1rem; }

  .wo-header-padding {
    padding-top: 2rem; }
    .wo-header-padding .wo-header-alt {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      font-size: 2.5rem; }

  .project {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem; }

  .project-header {
    padding-bottom: 4rem; }

  .desc-overlay, .desc-overlay-soon {
    height: auto;
    padding-top: .875rem;
    padding-left: 0rem;
    background-color: rgba(246, 1, 108, 0);
    position: static; }
    .desc-overlay h1, .desc-overlay h2, .desc-overlay p, .desc-overlay-soon h1, .desc-overlay-soon h2, .desc-overlay-soon p {
      width: 100%;
      color: #181743; }
    .desc-overlay .divider-line, .desc-overlay-soon .divider-line {
      background-color: white; }
    .desc-overlay h2, .desc-overlay-soon h2 {
      color: #9d9ce2;
      font-size: .75rem; }
    .desc-overlay h1, .desc-overlay-soon h1 {
      color: #181743;
      font-size: 1.25rem;
      margin-bottom: 1rem; }
    .desc-overlay p, .desc-overlay-soon p {
      color: #181743;
      font-size: .875rem;
      font-weight: 500;
      letter-spacing: .02rem; }
    .desc-overlay .divider-line, .desc-overlay-soon .divider-line {
      height: .125rem;
      background-color: #181743; }

  .desc-overlay:hover, .desc-overlay-soon:hover {
    background-color: rgba(246, 1, 108, 0);
    padding-left: 0rem; }
    .desc-overlay:hover h2, .desc-overlay-soon:hover h2 {
      color: #9d9ce2;
      font-size: .75rem; }
    .desc-overlay:hover h1, .desc-overlay:hover p, .desc-overlay-soon:hover h1, .desc-overlay-soon:hover p {
      color: #181743; }
    .desc-overlay:hover .divider-line, .desc-overlay-soon:hover .divider-line {
      background-color: #181743; } }
@media screen and (max-width: 28.75rem) {
  p.no-stealing span {
    display: none; }

  .d-01-p-body-hero-w-l span {
    display: none; } }

/*# sourceMappingURL=style.css.map */
